
/*font-family:'Impact W01';*/

html, body, #wrapper { height: 100%; }
body > #wrapper { height: auto; min-height: 100%; }
#wrapper{
	padding-bottom: 3em;
}
#contentpage{
	padding-top: 268px;
}

header{
	padding:10px;
	height: 220px;
	background: black;
	position: absolute;
	width: 100%;
}
#banner, #line {
	display: block; 
	width: 1000px;
    margin-left: auto; 

    margin-right: auto;

}
nav  ul {
	width: 1000px;
    margin-left: auto; 

    margin-right: auto;

}

nav ul li {
	display: inline;
	}
nav ul li:after {
  content: " | ";
  color:white;
  font-family: 'Impact W01';
	font-size: 14pt;

}
nav ul li:last-child:after {
  content: "  ";


}


nav ul li a {
	color: white;
	font-family: 'Impact W01';
	font-size: 14pt;
font-weight: normal;
text-decoration: none;
padding: 10px;
}
.selected a{
	color: red;
	text-decoration: underline;
}


#footer {
	font-family: 'Verdana';
	font-size: 10pt;
	color: white;
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
 height: 80px;

	background:#000;
}
#footer p{
    text-align: center;
}
#container1{
	margin: 0 auto;
	margin-bottom: 20px;
max-width: 1000px;
	min-height: 100%;
	background:red;

	background: yellow;
margin-bottom: 20px;

}
#column_left{
	width: 660px;
	background: blue;
	min-height: 600px;
	float: left;
	margin-bottom: 20px;
}

#column_right{
	width: 300px;
	background: red;
	min-height: 600px;
	float: right;
}
#ourwork-container{
	
	float: left;
	position: relative;
width: 66%;
margin-bottom: 20px;
}
#container{
margin-bottom: 20px;
	background: #ccc;
	clear: both;

}
#aboutftlom-containeir{
	width: 300px;
	float:right;
}
#gigs-containeir{
	width: 300px;
	float:right;


	
}
#ourwork-container p, #aboutflom-content p, #aboutflom-content ul {

	color: white;
	font-family: "Verdana";
	font-size: 10pt;
	padding: 0px 10px 5px 10px
}
.pic {
	float: left;
	height: 75px;
	width: 75px;
	margin: 10px;
}
#ourworks{
	background: url('../img/ourworks-banner.png');
	height:46px;
	margin: -10px 5px 10px 5px;

	
}
#ourworks p, #aboutftlom p {
font-family: 'Impact W01';
	font-size: 14pt;
	color:white;
	text-align: center;
	padding-top: 8px;
	text-transform: uppercase;

}
.roundblack {
	background: black;
	border-radius: 15px;
	box-shadow: 5px 0px 1px #ccc;
	padding: 0px 5px 0px 5px;
	margin-bottom: 20px;
}
#aboutftlom {
	background: url('../img/ourworks-banner.png');
	height:46px;
	margin: -10px 5px 10px 5px;

}



.item{
	margin: 5px;
	 width: 150px;
  height: 150px;

}
.large {
width: 400px;
height: 400px;


}

img {
	max-width: 100%;
}


.isotope-item {
  z-index: 2;


}

.isotope-hidden.isotope-item {
  position: relative;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

#but-boxes {
	clear:both;
	height: 235px;

padding-top: 15px;
background: blue;
height: 235px;
font-size:10pt;
}
.but-box{
	margin-right: 22px;
	width: 300px;
	float: right;
}
#video {
	padding-bottom: 40px;
	padding-left: 10px;
}
#close {
	position: absolute;
	right: 20px;
	display: none;
	height: 20px;
	width:20px;


}
#filters li {
	display: inline;
}
#filters {
	color: white;
}