<!DOCTYPE html>
{% load cms_tags sekizai_tags %}
  <head>
      {% render_block "css" %}
       {% addtoblock "css" %}
<link type="text/css" href="{{ STATIC_URL }}ftlom/images_files/style000.css" rel="stylesheet"/>

   {% endaddtoblock %}
  
  </head>
  <body>
      {% cms_toolbar %}
<div id="wrapper">
<header>



</header>
<div id="contentpage">

{% block contentpage %}
    {% endblock %}

    
 
</div>



  {% render_block "js" %}

       {% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}ftlom/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ftlom/images_files/jquery00.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ftlom/images_files/ticker00.js"></script>
  


     

   {% endaddtoblock %}
    
    </div>
  </body>
</html>
