{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}




{% block contentpage %}
 
<h2>Trusted Updates</h2>
{% for tweet in trusted %}
<li>{{ tweet.account }}: {{ tweet.data }}</li>
{% endfor %}

<h2>Untrusted Updates</h2>
{% for tweet in untrusted %}
<li>{{ tweet.data }}</li>
{% endfor %}




 {% endblock %}