{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}




{% block contentpage %}
 
<div id="container1">

<div class="roundblack" id="ourwork-container">

	     <div id="ourworks">

             {% placeholder session-title %}

	     </div>
	<div >
	     	<div id="container" align="center">
  					<img class="item" src="{{ STATIC_URL }}ftlom/img/1.png"/>
  					<img  class="item" src="{{ STATIC_URL }}ftlom/img/2.png"/>
  					<img  class="item" src="{{ STATIC_URL }}ftlom/img/3.png"/>
    				<img  class="item" src="{{ STATIC_URL }}ftlom/img/4.png"/>
    				<img class="item" src="{{ STATIC_URL }}ftlom/img/1.png"/>
  					<img  class="item" src="{{ STATIC_URL }}ftlom/img/2.png"/>
  					<img  class="item" src="{{ STATIC_URL }}ftlom/img/3.png"/>
    				<img  class="item" src="{{ STATIC_URL }}ftlom/img/4.png"/>
    				<img  class="item" src="{{ STATIC_URL }}ftlom/img/4.png"/>
    				<img class="item" src="{{ STATIC_URL }}ftlom/img/1.png"/>
  					<img  class="item" src="{{ STATIC_URL }}ftlom/img/2.png"/>
  					<img  class="item" src="{{ STATIC_URL }}ftlom/img/3.png"/>
    				<img  class="item" src="{{ STATIC_URL }}ftlom/img/4.png"/>
    			
  
  
			</div>

	 </div>

   </div>



<div id="column_right">


	<div class="roundblack" id="aboutftlom-containeir">

	<div id="aboutftlom">
  {% placeholder session-title1 %}

	</div>
	<div id="aboutflom-content">
		<div class="pic">
				 {% placeholder aboutftlompic %}
		</div>
		 {% placeholder aboutftlom %}
	</div>


</div>

<div class="roundblack" id="gigs-containeir">

	<div id="aboutftlom">
  {% placeholder session-title3 %}

	</div>
	<div id="aboutflom-content">
		
		 {% placeholder gigs %}
	</div>


</div>


</div>

<!-- BOXES AT THE BOTTOM -->
<div id="but-boxes">



	<div class="roundblack but-box" >

	<div id="aboutftlom">

<p> CONTACT</p>

	</div>
	<div id="aboutflom-content">
		




	</div>


</div>

	<div class="roundblack but-box" >

	<div id="aboutftlom">
  {% placeholder session-title5 %}

	</div>
	<div id="aboutflom-content">
		<div class="pic">
				 {% placeholder aboutftlompic %}
		</div>
		
		 {% placeholder gigs2 %}
	</div>


</div>


	<div class="roundblack but-box" >
	<div id="aboutftlom">
  {% placeholder session-title5 %}

	</div>
	
	<div id="aboutflom-content">
		<div class="pic">
				 {% placeholder aboutftlompic %}
		</div>
		
		
		 {% placeholder gigs3 %}
	</div>


</div>


	</div>

	
</div>




 {% endblock %}