h1 {
	font-family:verdana;
}

ul {
	
	color:#fff;
	padding:10px 20px;

	width:100px;
}

ul li {
	list-style:none;
	font-family:verdana;
	font-size:12px;

}
.root, .timeline{
	width: 333px;
height: 100px;

}
iframe{
     height: 150px;
     border: 0px;
     box-shadow: none;

}